.nav__wrapper {
  position: fixed !important;
  top: 0;
  z-index: 11;
  width: 100%;
  left: 0;
  right: 0;
}
.nav_logo_wrapper {
  width: 100px;
  height: 50px;
  position: relative;
  z-index: 1;
}
.nav_logo_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: darken;
}
.nav_link {
  color: inherit;
}
.nav_link:hover {
  color: var(--primary-color) !important;
}
.navbar-nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
}
.searchIcon {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
}
.nav-form {
  padding-left: 15px;
  width: 40vw;
  max-width: 100%;
  position: relative;
}
@media screen and (max-width: 768px) {
  .navbar-nav {
    align-items: baseline;
  }
}
